body {
  zoom: 1.4;
  background-color: #1e1e1e;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  padding: 0px;
  margin: 0px;
  padding: 10px;
}


.logout-container {
  position: absolute; /* Position relative to the App container */
  top: 17px; /* Adjust distance from the top */
  right: 30px; /* Adjust distance from the right */
  z-index: 1000; /* Ensure it stays on top */
}

.logout-button {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #1e1e1e; /* Spotify green */
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.logout-button:hover {
  text-decoration: underline;
}
